[Service]
{% if http_proxy is defined %} 
Environment="HTTP_PROXY={{ http_proxy }}"
{% if https_proxy is defined %}
Environment="HTTPS_PROXY={{ https_proxy }}"
{% else %}
Environment="HTTPS_PROXY={{ http_proxy }}"
{%endif %}
{%endif %}
Environment="NO_PROXY=localhost,127.0.0.1"
